.sidebar{
    position:fixed;
    top:70px;
    width:200px;
    height:100%;
    background: white;
    transition: all 500ms linear;  
    left:0px;
    border-right: solid 1px #E4E2E2;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    }
     .sidebar.active{
    left:-200px;
    }
    .sidebar ul li {
    color:black;
    list-style: none;
    padding: 15px 10px;
    border-bottom:1px solid rgba(100,100,100,0.3);
    text-decoration: none;
    }
    .sidebar ul li a{
    color:black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    }
    .sidebar .toggle-btn{
    position:absolute;
    left:230px;
    top:20px;
    }
            
    .sidebar .toggle-btn span{
    display:block;
    width:20px;
    height:4px;
    background:#151719;
    margin:3px 0px;
    border-radius: 5px;
    }